<%#header /footer ejs file to apply common layout to all the pages of the website by the use of partials%>


    <!DOCTYPE html>
    <html>

    <head>
        <meta charset='UTF-8'>
        <title>To Do List</title>
        <link rel="stylesheet" href="css/styles.css">
    </head>